<ion-header>
  <ion-toolbar>
    <ion-title>AngularFire Ionic4 NGRX</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-end outline (click)="presentModal()">
        ADD
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- display errors here -->
  <ion-grid>
    <ion-row responsive-sm *ngIf="(error$ | async)?.code">
      <ion-col>
        <strong>
          <h4 style="color:red">Error:&nbsp;{{ (error$ | async)?.message }}</h4>
        </strong>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-button (click)="doLogout()" color="primary" block>
      LOGOUT
    </ion-button>
    <ion-item *ngFor="let item of (data$ | async) ">
      <ion-label>
        <ion-label text-wrap (click)="doDetail(item)">{{item | json }}</ion-label>
      </ion-label>
      <ion-button color="danger" (click)="doDeleteObject(item)">DELETE</ion-button>
    </ion-item>
  </ion-list>
</ion-content>